.App {
  text-align: center;
}
body{
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Login{
  padding: 5vh 0vw;
  margin: auto;
  width:100%;
  height: 100%;
  background-image: 
  url('./photos/workout-4-me-login-background.gif');
  background-attachment: fixed;
  background-position: center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  
}

.Signup{
  padding: 5vh 0vw;
  margin: auto;
  width:100%;
  height: 100%;
  background-color: black;
  background-image: url("./photos/gymphotobg.jpeg") ;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.main-background{
  padding: 5vh 0vw;
  margin: auto;
  width:100%;
  height: 100%;
  background-color: black;
  background-image: url("./photos/thumb2-black-carbon-background-vector-textures-4k-black-carbon-texture-wickerwork-textures.jpeg") ;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.App-link {
  color: #dbf023;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
