.hompage{
    padding: 5vh 0vw;
    margin: auto;
    width:100%;
    height: 100%;
    background-color: black;
    background-image: url("./photos/thumb2-black-carbon-background-vector-textures-4k-black-carbon-texture-wickerwork-textures.jpeg") ;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .background{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}

.home-paper-background{
    background: rgb(76,0,161);
background: radial-gradient(circle, rgba(76,0,161,1) 0%, rgba(31,0,66,1) 100%);
}
.home-paper-workout-cards-background{
    opacity: 100%;
   
}

.main-home-paper {
    background: rgb(69,69,69);
    background: radial-gradient(circle, rgba(69,69,69,1) 0%, rgba(43,43,43,1) 100%);
}

@media only screen and (min-width: 1280px) {
    /* For desktops: */

    .homeCardImage{

        max-height: 300px;
    }
    
    
    
  }

 @media only screen and (max-width: 1279px) {
    /* For for laptops and tabletss: */

    
    
    .homeCardImage{

        max-height: 300px;
    }
   
   
    
  }

  
  @media only screen and (max-width: 769px) {
    /* Forbigger mobile phones and small tablets: */

  
   
    
 
    .homeCardImage{

        max-height: 300px;
    }
    
  }
  
  @media only screen and (max-width: 480px) {
    /* For mobile phones: */

    .mediumTextSize{

        font-size: medium;

    }
    .largeTextSize{
        font-size: large;
    }

    .smallTextSize{
        font-size: small;

    }
    .mainHomeDiv{
        /* position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column; */
       

        width: 70vw;

    }
    .homeCardImage{

        max-height: 300px;
    }
   
    
  }